FIRECRAWL_API_KEY=your_firecrawl_api_key_here
WP_BASE_URL=https://desire-escorts.nl
WP_API_USER=your_wp_username_or_email
WP_APP_PASSWORD=your_wordpress_application_password
STRAPI_BASE_URL=https://steadfast-art-a1f81485c3.strapiapp.com
STRAPI_API_TOKEN=your_read_only_strapi_content_api_token
STRAPI_SITE_HOST=desire-escorts.nl
STRAPI_SITE_HOST_SECONDARY=www.desire-escorts.nl
